@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  background: #FFFF;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1900px;
  padding: 15px 0 15px;
  margin-bottom: 15px;
  padding-left: 30px;
 
}

.section-title {
  color: #333333;
  font-size: 32px;
  font-weight: 400;
  padding: 25px 60px 60px 30px;
  display: flex;
	justify-content: space-between; 
  margin: auto;
	
  
}
/* Dropdown Button - ordenar por */

.dropbtn{
  background-color: #FFFFFF;
  color:#333333;
  padding: 16px;
  font-size: 16px;
  font-family: "Open sans";
  font-weight: 400;
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  cursor: pointer;
  height: 32px;
  padding: 0 32px 0 20px;
 
}

.dropdown-content{
  display: none;
  color: #000000;
  position: absolute;
  background-color:#FFFFFF;
  overflow: auto;
  z-index: 1;
  border: 1px solid #C7C7C7;
  border-bottom: 1px solid #b5b5b5;
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  position: relative;
  margin: auto;
}

.dropdown-content a{
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-family: "Open sans";
  font-weight: 500;
  color: #000000;
  line-height: 22px;
  padding: 5px 15px;
  box-sizing: border-box;

}

.dropdown a:hover {
  background-color: #00C0EE;
}

.btn-ordenar:hover{
  background-color:  rgba(0, 0, 1, 0.041);
}
.drop-menu-content a:hover {background-color: #ddd}
.show {display: block;}

.menu-opcoes{
  display: flex;
  flex-direction: column;
}
.colors-list {
  font-size: 16px;
  padding: 37px;
  color: #333333;
  display: block;

}

.sizes {
  font-size: 16px;
  padding-left: 37px;
  color: #333333;
  padding: 37px;
  display: block;
}

.price-range {
  font-size: 16px;
  padding-left: 37px;
  color: #333333;
  padding: 37px;
  display: block;

}

img.logo {
  margin: 10px;
}

.categories {
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 1900px;
  /*centralize section*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
 
}

@media (max-width: 1000px) {
  .categories {
    grid-template-columns: 1fr 1fr;
  }
}
/*@media (max-width:200px) {
    .categories{
        grid-template-columns: 1fr;
    }

}*/
.category-item {
  min-width: 33.33%;
  box-sizing: border-box;
  height: 300px;
  align-items: center;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 37px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .category-item {
    min-width: 50%;
  }
}
button.comprar{
  background-color: #000000;
  color:#FFFFFF;
  font-size:  14px; 
  font-style: normal;
  font-weight: bold;
  font-family: "Open sans";
  border: none;
  width:fit-content;
  display: grid;
  margin:0 auto;
  align-items: center;
  padding: 10px 70px;
 
}

.carregar {
  background: #00C0EE;
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items:baseline;
  padding: 10px 35px;
  margin-top: 200px;
  width:fit-content;
  color: #FFFF;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  border: none;
  
}

footer {
  background-color: black;
  color: #FFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  margin-top: 25px;
}